#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=sh -c "sensible-browser /usr/share/aliencounter/index.html"
Name=AlienCounter
Comment=AlienCounter
Icon=/usr/share/aliencounter/images/icon.png